@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
   font-family: 'Poppins', sans-serif;
  margin: 0px;
}
.container{
    background-color: #0f0fe4e7;
    width: 100%;
    margin-bottom: 100px;
}
 /* 1st section css start */
.top-banner{
    display: flex;
  
}
.top-announce h1{
     font-size: 64px;
     color: cornsilk;
     margin-left: 50px;
}
.banner-logo img{
    justify-content: center;
    margin-top:80px ;
    margin-left: 30px;
    margin-right:50px ;
    margin-bottom:100px;
    width: 556.01px;
    height: 438px;
}
.announce-button{
    border: 0;
    background-color: deeppink;
    text-decoration: none;
    margin-left: 50px ;
    padding: 10px 15px ;
    color: white;
     /* 1st section css end */
} 
/* 2nd section css start */
.total-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    margin-left: 60px;
    margin-right: 50px;
     margin-bottom: 100px;
}
.player{
    border:0 solid black;
    width:350px ;
    padding: 10px;
    
    margin-left: px;
    box-shadow: 10px 10px 40px grey;
}
.player img{
     width: 345px;
     height: 255px;
      
    
}
.player p{
    color: #6C6C6C;
}
.bonus{
    background-image: url(images/bonus.jpg);
    height: 400px;
    margin-bottom: 50px;
    background-repeat:no-repeat ;
    background-size: cover;
}

.bonus h1{
    font-size: 40px;
    color:wheat;
    padding-top: 5px;
    padding-left: 10px;
}
.bonus h3{
    font-size: 25px;
    color:#00d9ff;
    padding-left: 10px;
}


.bottom-logosandicon{
    display: grid;
   

}
.bottom-logo img{
    width:450px ;
    height: 120px;
    margin-left: 350px;

}
.bottom-icons{
    margin-left: 530px;
}
.bottom-icons i{
    padding: 5px;
}
.fa-facebook-square{
    color: #6C6C6C;
    width: 30px;
    height: 30px;
}
.fa-instagram-square{
    color: #6C6C6C;
    width: 30px;
    height: 30px;
}
.fa-linkedin{
    color: #6C6C6C;
    width: 30px;
    height: 30px;
}
.fa-youtube{
    color: #6C6C6C;
    width: 30px;
    height: 30px;
}
footer{
    text-align: center;
}
/*----------------
 mobile device
---------------- */
@media screen and (max-width:688px) {
    .container{
        width: 100%;
     }
     .top-banner{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .top-banner h1{
        font-size: 30px;
     }
     .banner-logo img{
         display:flex;
         flex-direction: column;
         margin-right:-10px;
     }

     .total-players{
           grid-template-columns: repeat(1,1fr)
     }
     .player{
         flex-direction: column;
     }
     .container3{
         width: 100%;
     }

}

/*-----------------
 tablet device
------------------- */

@media screen and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
    }
    .total-players{
        width: 100%;
           grid-template-columns: repeat(2,1fr)
     }
     .player{
         flex-direction: column;
     }
}
